* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #000000, #1e2227);
}

.wrapper {
margin:20%;
border: solid white 3px;
display:grid;
grid-gap: 2px white;
grid-template-columns: 2fr 1fr;
grid-template-rows: repeat(4, 1fr);
grid-template-areas: 
"name name"
"job skills"
"para skills "
"contact contact";

}

.name{
grid-area:name;
}
.job{
grid-area:job;
}
.level{
font-size: 10px;    
}
.paragraph {
    grid-area:para;
      align-self: center;
      justify-self: center;
}

.skills{
    grid-area:skills;
}
.contactSection{
    grid-area:contact;
    align-self: center;
    justify-self: center;
}
img{
    height:50px;
    width:50px;
}