* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #000000, #1e2227);
    color: rgba(233, 233, 233, 0.911);
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 5px;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
    text-decoration: none;
}

.wrapper {
    padding: 10px;
    margin: 15%;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.349);
    border: solid white 3px;
    display: grid;
    grid-gap: 2px white;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "name name" "job skills" "para skills " "contact contact";
   
}

.name {
    grid-area: name;
}

.job {
    grid-area: job;
}

.level {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    font-style: italic;
}

.desc {
    grid-area: para;
    align-self: center;
    justify-self: center;
}

.skills {
    grid-area: skills;
}

.contactSection {
    grid-area: contact;
    align-self: center;
    justify-self: center;
}

img {
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 480px) {
    .wrapper {
        display:grid;
         grid-template-columns: 1fr;
         grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "name " "job " "contact ";
    }
    .desc {
        display: none;
    }
    .skills {
        display: none;
    }
}