html {
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #116cff, #91bbff);
}

.pageWrapper{
  
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(8,1fr);
  grid-template-areas: 
    "nv nv nv"
    "hr hr hr"
    "hr hr hr"
    "abm abm abm "
    ". pf . "
    ". pf . "
    ". ct . "
    "ft ft ft "
    ;
}
/*
.navbar-default{
     background-color: transparent;
   background: transparent;
   border-color: transparent;
  background:rgba(0,0,0,0.5); 
}*/
.nvr{
  grid-area:nv;

}
.hdr{
grid-area:hr;
}
.aboutMe {
 grid-area : abm ;
  align-self: center;
  justify-self: center;
  background-color: red;
}
.prf{
  grid-area: pf ;
}

.cnt{
  grid-area: ct ;
}
